<section class="u-bg-overlay g-min-height-100vh g-bg-img-hero g-bg-black-opacity-0_5--after g-py-80" style="background-image: url(public/img/kc.jpg);">
  <div class="container text-center u-bg-overlay__inner">

      <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-white g-mb-40">We're based in <span class="i_color">KC</span></h2>

      <p class="g-color-white-opacity-0_8 g-font-size-18 g-mb-35">We love helping our customers and since we are local, we will always be <span class="i_color g-font-size-20 g-font-weight-700">close</span> to your business when you need us</p>
      <p class="g-color-white-opacity-0_8 g-font-size-18 g-mb-35">And with our <span class="i_color g-font-size-20 g-font-weight-700">FREE</span> technical support you can be assured that you're being taken care off</p>

  </div>
</section>
