<section id="bestOffers" class="g-theme-bg-gray-dark-v1 g-py-90">
  <div class="text-center g-mb-60">
    <div class="container g-max-width-770">
      <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-white g-mb-30">Pick a Package that Fits your Unique Business Model</h2>

      <p class="mb-0">We offer creative and affordable solutions. From designing simple sites to customizing shopping carts, our pricing is based on the features you need. Smaller companies who don't have complex and extensive requirements love our pay-per-job pricing.</p>
    </div>
  </div>

  <div class="container">
    <div class="g-mx-minus-15">
      <div class="js-carousel text-center g-pb-50"
           data-infinite="true"
           data-slides-show="4"
           data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-0"
           data-responsive='[{
             "breakpoint": 1201,
             "settings": {
               "slidesToShow": 4
             }
           }, {
             "breakpoint": 1200,
             "settings": {
               "slidesToShow": 3
             }
           }, {
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 2
             }
           }, {
             "breakpoint": 576,
             "settings": {
               "slidesToShow": 1
             }
           }]'>

         <!-- STATIC -->
         <div class="js-slide g-px-15">
          <article class="text-center g-bg-white">
            <header class="g-bg-primary g-color-white g-pa-40">
              <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">Starter</h4>

              <div class="g-font-size-36 g-line-height-1">$179
              </div>
            </header>

            <div class="g-pa-40">
              <ul class="list-unstyled g-mb-30">
                <li class="g-mb-20">Elegant, responsive design*</li>
                <li class="g-mb-20">Incorporating visual elements</li>
                <li class="g-mb-20">SEO friendly</li>
                <li class="g-mb-20">Contact us page</li>
                <li class="g-mb-20">Free demonstration</li>
                <li class="g-mb-20">Free hosting for a year</li>
                <li class="g-font-size-11 g-font-weight-500"> *based on Boostrap templates</li>
              </ul>
              <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#contact">Learn More</a>
            </div>
          </article>
         </div>

         <!-- CUSTOM DEVELOPMENT -->
         <div class="js-slide g-px-15">
          <article class="text-center g-bg-white">
            <header class="g-bg-primary g-color-white g-pa-40">
              <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">Small Business</h4>

              <div class="g-font-size-36 g-line-height-1">$ call
              </div>
            </header>

            <div class="g-pa-40">
              <ul class="list-unstyled g-mb-30">
                <li class="g-mb-20">Quality and Functional system from concept to deployment</li>
                <li class="g-mb-20">Front- and Back-end development</li>
                <li class="g-mb-20">CMS or vendor's solution integration</li>
                <li class="g-mb-20">Free training &amp; support</li>
                <li class="g-mb-20">
                  <strong>
                    <a class="modal_link primary" href="#modal1" data-modal-target="#modal1" data-modal-effect="fadein">read more ...</a>
                  </strong>
                </li>
              </ul>
              <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#contact">Learn More</a>
            </div>
          </article>
         </div>

         <!-- FLEX MENU -->
         <div class="js-slide g-px-15">
          <article class="text-center g-bg-white">
            <header class="g-bg-primary g-color-white g-pa-40">
              <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">FLEX MENU</h4>

                <div class="g-font-size-36 g-line-height-1">$15
                  <em class="d-block g-font-style-normal g-font-size-default g-mt-5">per month*</em>
                </div>
            </header>

            <div class="g-pa-40">
              <ul class="list-unstyled g-mb-30">
                <li class="g-mb-20">Dynamic Menus</li>
                <li class="g-mb-20">Galleries</li>
                <li class="g-mb-20">Reviews &amp; rating of customers visits</li>
                <li class="g-mb-20">Event &amp; Table reservation</li>
                <li class="g-mb-20">Online Ordering &amp; Delivery</li>
                <li class="g-mb-20">eGift card &amp; Dine Rewards Program</li>
                <li class="g-font-size-11 g-font-weight-500"> * after initial setup fee of $170</li>
              </ul>
              <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#contact">Coming soon</a>
            </div>
          </article>
         </div>

         <!-- FLEX CART -->
         <div class="js-slide g-px-15">
          <article class="text-center g-bg-white">
            <header class="g-bg-primary g-color-white g-pa-40">
              <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">FLEX CART</h4>

                <div class="g-font-size-36 g-line-height-1">$20
                  <em class="d-block g-font-style-normal g-font-size-default g-mt-5">per month*</em>
                </div>
            </header>

            <div class="g-pa-40">
              <ul class="list-unstyled g-mb-30">
                <li class="g-mb-20">Manage categories &amp; customers accounts</li>
                <li class="g-mb-20">Manage products and upload pictures</li>
                <li class="g-mb-20">Order online</li>
                <li class="g-mb-20">Payment via Stripe</li>
                <li class="g-mb-20">Adding coupon support</li>
                <li class="g-mb-20">Advanced email notification</li>
                <li class="g-mb-20">Cancel at any time — no questions asked</li>
                <li class="g-font-size-11 g-font-weight-500"> * after initial setup fee of $190</li>
              </ul>
              <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#contact">Coming soon</a>
            </div>
          </article>
         </div>

         <!-- FLEX CAREER -->
         <div class="js-slide g-px-15">
          <article class="text-center g-bg-white">
            <header class="g-bg-primary g-color-white g-pa-40">
              <h4 class="h6 text-uppercase g-line-height-1_4 g-font-weight-700 g-color-white g-mb-20">FLEX CAREER</h4>

                <div class="g-font-size-36 g-line-height-1">$10
                  <em class="d-block g-font-style-normal g-font-size-default g-mt-5">per month*</em>
                </div>
            </header>

            <div class="g-pa-40">
              <ul class="list-unstyled g-mb-30">
                <li class="g-mb-20">Hire qualified talent faster and for less</li>
                <li class="g-mb-20">List all your job openings until job fills</li>
                <li class="g-mb-20">Screening questions</li>
                <li class="g-mb-20">Quick search</li>
                <li class="g-mb-20">Advanced email notification</li>
                <li class="g-mb-20">Switch between subscription plans</li>
                <li class="g-mb-20">Cancel at any time — no questions asked</li>
                <li class="g-font-size-11 g-font-weight-500"> * starting from $20</li>
              </ul>
              <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#contact">Coming soon</a>
            </div>
          </article>
         </div>

      </div>
    </div>
  </div>
</section>
