.ul_class{float:left; list-style-type: none}
.ul_class li{margin-left: 4em; display: table}

.fld_required{color:red; font-weight:bold}

/*||||||||***** MESSAGES *****||||||||
+++++++++++++++++++++++++++++++++++++++*/
.div_msg {border-radius:15px; background:#B7E19B; width:100%}
.div_msg p{margin:0; padding:10px; text-align:center; font-size:14px }

.mgt_05{margin-top:.5em}
.mgt_3{margin-top:3em}
.mgt_5{margin-top: 5em}

/*======================================
||||||||| CHANGES TO styles.css |||||||||
========================================*/
.background_img{
    padding: 100px 0;
    background: url('../images/bg3.jpg') no-repeat top center;
    background-size: cover;
}
.section-full-height{
  height: 90%;
  background: url('../img/bg.jpg') no-repeat center center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.about-section{
   background: url('../img/bg2.jpg') no-repeat;
   background-size: cover;
}
.testimonials-section{
    padding: 100px 0;
    background: url('../img/bg3.jpg') no-repeat top center;
    background-size: cover;
}
section#home{margin-top: 0 !important}
/*a.navbar-brand img{margin: 0; padding: 0}*/
a.navbar-brand{margin: 0; padding: 0;
    width: 300px;
    height: 70px;
    background: url('../img/logo.png') no-repeat top center;
    background-size: cover;
}
/*======================================
||||||||| VUE PRACTICE |||||||||
========================================*/
.red_color{font-size: .8em; font-weight: lighter; color: red}
.is-loading{padding: 5px 10px; background-color: blue; radius: 10px}
.noDisplay{display:none}
.noVisibility{visibility:hidden}
